<!-- <search class='text-center search-inline' [passedQuery]="query"></search> -->

<p *ngIf='query'>
  Search for <b>{{ query }}</b>
</p>

<div *ngFor='let item of videoList'>
    <a routerLink="/videos/{{item.slug}}" routerLinkActive="active">{{item.name}}</a>
    <div  *ngIf='item.youtube_id'>
        <iframe width="560" height="315" [src]="item.youtube_id | safe" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <div *ngIf='!item.youtube_id'>
      <p>No hay video disponible para {{item.name }}</p>
    </div>
  </div>
