<div class="row">
  <div class="col-sm-12">
    <carousel class="text-center">
      <slide *ngFor="let imageObj of homeImageList">
        <a class="" [href]="imageObj.link" (click)="preventNormal($event, imageObj)">
          <img  class="img-main-carousel" [src]="imageObj.image" [alt]="imageObj.title" style="display: block; width: 100%;">
        </a>
        <div class="carousel-caption">
          <h3>{{ imageObj.title }}</h3>
          <p>{{imageObj.description}}</p>
          <p><a class="btn btn-default" [href]="imageObj.link">Video 1</a></p>
        </div>
      </slide>
    </carousel>
  </div>
</div>
